*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sulphur Point', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}
:root{
    --main-color:#C6935E;
    --text-color:#fff;
    --other-color:#212121;
    --second-color:#9e9e9e;
    --bg-color:#111111;

    --big-font:4.5rem;
    --h2-font:2.6rem;
    --p-font:1.1rem;
}
body{
    
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000B41;
    padding: 10px 9%;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 33px;
    font-weight: 700;
}
.logo img{
    vertical-align: middle;
    margin-right: 8px;
    color: var(--main-color);
    height: 50px;
}
.navlist{
    display: flex;
}
.navlist a{
    color: #FFFF;
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 30px;
    transition: all .50s ease;
}
.navlist a:hover{
    color: var(--main-color);

}
.navlist a.active{
    color: var(--main-color);
}
.nav-icons{
    display: flex;
    align-items: center;
    padding: 8px 15px;
   
    border-radius: 3rem;
    
}
.nav-icons i{
    vertical-align: middle;
    font-size: 25px;
    color: #FFFF;
    margin-right: 8px;
    margin-left: 5px;
    transition: all .50s ease;
}
#menu-icon{
    font-size: 32px;
    color: #FFFF;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.nav-icons i:hover{
    transform: scale(1.1);
    color: var(--main-color);
}
/* Add this style for the dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000B41;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
}

.dropdown-content a:hover {
    background-color: var(--main-color);
    color: #fff;
}

/* Adjust the position of the dropdown */
li.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px; /* Adjust the width as needed */
}
/* Adjust the position of the dropdown */
li.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Position the dropdown below the parent li */
    left: 0;
    width: 200px; /* Adjust the width as needed */
    background-color: #000B41;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
}

.dropdown-content a:hover {
    background-color: var(--main-color);
    color: #fff;
}

.shop-link i {
    margin-left: 3px;
    font-size: 20px;
}
.scroll{
    position: fixed;
    bottom: 2.2rem;
    border-top: 2rem;
    right: 3.2rem;
}
.scroll i{
    font-size: 22px;
    color: #FFFF;
    background: var(--main-color);
    padding: 10px;
    border-radius: 2rem;
}


.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.image-container {
    width: 20%; 
    margin-bottom: 20px;
    overflow: hidden;
    animation: fadeInUp 1s ease-out; 
    position: relative;
    text-align: center;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out; 
}
.image-container {
    overflow: hidden;
}
.brightness-adjusted {
    display: block;
    width: 100%;
    max-width: 400px; 
    filter: brightness(0.4); 
    transition: filter 0.3s ease;
}

.brightness-setting{
    display: block;
    filter: brightness(0.6); 
    transition: filter 0.3s ease;
}

.brightness-setting:hover{
    filter: brightness(0.8);
}

.brightness-adjusted:hover {
    filter: brightness(0.6); 
}
.image-container:hover img {
    transform: scale(1.1); 
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}

.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f6dccb; 
    color: #fff; 
}

.word-container {
    width: 45%;
}
.word-container p{
    font-size: 18px;
    color: #000B41;
}
.model-container {
    width: 45%; 
    overflow: hidden;
}

.model-container img {
    width: 600px;
    height: 400px;
    display: block;
}

.button-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.solid-button {
    display: block;
    padding: 15px 30px;
    background-color: #C6935E; 
    color: #fff; 
    text-align: center;
    text-decoration: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.solid-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a1794d; 
    z-index: -1;
    transition: transform 0.3s ease;
    transform-origin: bottom;
    transform: scaleY(0);
}

.button-container:hover .solid-button::before {
    transform: scaleY(1);
}

.swiper-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: auto;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;   
     
  }
  
  .slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFF; 
  }
  #swiper-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  h2, p, button {
    margin: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #007bff; 
    margin: 0 5px; 
    border-radius: 50%; 
    cursor: pointer;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #ff4500; 
  }
  
  .picture-container {
display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.container-heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
  }

  .container-heading h1 {
    display: inline-block;
    position: relative;
    color: #000B41;
  }

  .container-heading h1::after {
    content: "";
    display: block;
    height: 3px;
    width: 40%;
    background-color: #C6935E; 
    position: absolute;
    bottom: -4px;
    left: 30%; 
  }
.card {
    width: 450px; 
    margin-bottom: 20px;
    position: relative;
    overflow: hidden; 
    transition: transform 0.3s, box-shadow 0.3s; 
    cursor: pointer;
}

.card img {
    width: 400px;
    height: 400px;
    display: block;
    transition: transform 0.3s ease; 
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
}

.card:hover {
    transform: scale(1.1);    
}


.grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    width: 100%;
}


  .item {
    background: #fff;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  .item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease; /* Add a smooth transition for the zoom effect */
    cursor: pointer;
}

.item:hover img{
    transform: scale(1.2); /* Increase the scale on hover to create a zoom effect */
}
  .content-item{
    overflow: hidden;
    height: 400px;
  }

  
  .styled-link {
    color: rgb(247, 245, 245);
    text-decoration: none;
    position: relative;
}

.styled-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px; 
    background-color: #f6dccb; 
    position: absolute;
    bottom: -4px; 
    left: 0;
}

.main-section {
    display: flex;
    height: 70vh;
}

.left-section,
.right-section {
    flex: 1;
    padding: 20px;
    color: #000B41;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-section {
    background: linear-gradient(90deg, #FFD6BA 60%, #FFD6BA 60%);
}

.right-section {
    background: linear-gradient(90deg, #FFD6BA 30%, #023f3f 30%);
}

.heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.paragraph {
    margin-bottom: 20px;
}

.button {
    padding: 10px;
    width: 80%; /* Button takes 100% width by default */
    max-width: 120px; /* Set a maximum width for the button */
    background-color: #000B41;
    color: white;
    text-decoration: none;
    display: inline-block;
    
    cursor: pointer;
}


.image {
    width: 90%;
    height: auto;
}
/* other sections */
.main-sections {
    display: flex;
    height: 70vh;
}


.left-sections,
.right-sections {
    flex: 1;
    padding: 20px;
    color: #000B41;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-sections {
    background: linear-gradient(90deg, #8B5632 60%, #faf5d9 30%);
}

.right-sections {
    background: linear-gradient(90deg, #faf5d9 60%, #faf5d9 60%);
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #d4d2f6; /* Light background color */
}

.content-section {
    display: flex;
    flex-direction: column; /* Stack items vertically on small screens */
    width: 100%;
}

.text-content-section {
    max-width: 100%; /* Adjusted max-width for responsiveness */
}

.text-content-section h1, h2, p {
    margin: 0;
    padding-top: 20px;
}

.text-content-section h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.2;
    color: #000B41;
}

.underline-section {
    height: 2px;
    width: 50px;
    background-color: #000;
    margin: 10px 0;
}

.text-content-section h2 {
    font-size: 18px;
    font-weight: normal;
    color: #C6935E;
    margin-bottom: 20px;
    line-height: 1.4;
}

.text-content-section p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: #000B41;
}

.text-content-section button {
    background-color: #C6935E;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease; 
}

.text-content-section button:hover {
    background-color: #a1794d; 
}

.image-container-section {
    flex-grow: 1;
    max-height: 100%;
    overflow: hidden;
    margin-top: 10px; 
}

.image-container-section img {
    width: 100%;
    
}

.center-heading{
    text-align: center;
    margin-top: 70px;
}

.middle-text{
    text-align: center;
}
.middle-text h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000B41;
}
.middle-text h2{
    font-size: var(--h2-font);
    color: #000B41;
}


  
  .footer {
	background-color: #000B41;
	padding: 80px 0;
    position: relative;

}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #FFF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #8B5632;
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	color: #DDD;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

.footer-bottom {
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px; /* Adjust this value based on your design */
    color: #FFF;
    font-size: 14px;
  }
  
  .footer-bottom p:first-child {
    margin-right: auto; /* Push the first paragraph to the left */
  }
  
  .footer-bottom p:last-child {
    margin-left: auto; /* Push the last paragraph to the right */
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 16px;
  }


  

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.product-card {
  width: calc(30.33% - 20px); /* Adjust the width based on your design, considering margins */
  margin: 10px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: #000B41;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 90%;
    max-height: 90%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000B41;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #000B41;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #000B41;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #C6935E;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #000B41;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #C6935E;
}

@media (max-width: 768px) {
  .product-card {
      width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .product-card {
      width: calc(100% - 20px);
  }
}

  @media (max-width: 767px) {
    .footer-bottom {
      flex-direction: column;
      margin: 0;
    }
  
    .footer-bottom p {
      margin-bottom: 10px;
    }
  
    .footer-bottom p:last-child {
      margin-top: 10px; /* Add space between the two paragraphs */
    }
  }
@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}

  @media (max-width: 768px) {
    .product-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  

@media screen and (min-width: 768px) {
    .content-section {
        flex-direction: row; 
    }

    .text-content-section {
        max-width: 50%;
    }

    .image-container-section {
        max-width: 90%;
        margin-top: 20px; 
        margin-left: 10px; 
    }
}
@media (max-width: 390px) {
    .content-section{
    margin-top: 60px;
}
}

@media (max-width: 290px) {
    .content-section{
    margin-top: 160px;
}
}

@media (max-width: 550px) {
    .content-section{
    margin-top: 140px;
}
}

@media (max-width: 550px) {
    .main-sections{
    margin-top: 18px;
}
}

@media (max-width: 768px) {
    .main-section {
        flex-direction: column;
       
    }

    .right-section {
        background: linear-gradient(90deg, #023f3f 100%, #f78da7 100%);
    }

    .button {
        width: auto; /* Allow the button to take the natural width on smaller screens */
    }
    .image {
    width: 100%;
    
    
}
}
@media (max-width: 450px){
    .main-sections{
        margin-top: -70px;
    }
}
@media (max-width: 768px) {
    .main-sections {
        flex-direction: column;
        
    }

    .left-sections {
        background: linear-gradient(90deg, #8B5632 100%, #023f3f 100%);
        margin-top: 71px;
    }

    .content-section{
        margin-top: 40px;
    }
    .center-heading{
        margin-top: 180px;
    }
    .button {
        width: auto; /* Allow the button to take the natural width on smaller screens */
    }
    .image {
    width: 100%;
    height: auto;
    
}
}

@media (max-width: 300px) {
   
    .left-sections{
        margin-top: 48px;
        
    }
    
    

}
@media(max-width:290px){
    .center-heading{
        margin-top: 280px;
    }
    
    
}

@media (max-width: 380px) {

    .main-sections {
        flex-direction: column;
        margin-top: 116px;    
    }
    .center-heading{
        margin-top: 290px;
    }
    
}


  @media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 2fr; 
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media (max-width: 768px) {
    #swiper-video {
      height: 100%; /* Adjust the height as needed */
    }
  }

  @media (max-width: 768px) {
    .swiper-slide {
      height: 300px;
    }
    .swiper-slide img{
        height: 100%;
    }
  }

  @media (max-width: 768px) {
    .card {
      width: calc(100% - 20px); 
    }
  }
  
@media (max-width: 768px) {
    .button-container {
        width: 100%; 
}
}
@media (max-width: 768px) {
    .section-container {
        flex-direction: column; 
        text-align: center;
    }

    .word-container,
    .model-container {
        width: 100%; 
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .image-container {
        width: 48%; 
    }
}

@media (max-width: 480px) {
    .image-container {
        width: 100%; 
    }
}

@media (max-width: 768px) {
    .picture-container {
        grid-template-columns: repeat(2, 1fr);
      }
}

@media (max-width: 840px)   {
    .picture-container {
        grid-template-columns: repeat(1, 1fr);
      }
}

@media(max-width: 1030px){
    .picture-container {
        grid-template-columns: repeat(2, 1fr);
      }
}

@media (max-width: 480px) {
    .picture-container {
        grid-template-columns: repeat(1, 1fr); 
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0); 
        opacity: 1;
    }
}

@media(max-width:1545px){
    header{
        padding: 22px 4%;
        transition: .2s;
    }
    header.sticky{
        padding: 14px 4%;
        transition: .2s;
    }
}

@media(max-width:1180px){
    :root{
       --big-font:4rem;
       --h2-font:2.2rem;
       --p-font:15px;
    }   
   }
   @media(max-width:1060px){
       #menu-icon{
           display: initial;
       }
       .navlist{
           position: absolute;
           top: -1000px;
           left: 0;
           right: 0;
           display: flex;
           flex-direction: column;
           text-align: left;
           background: #000B41;
           transition: all .50s ease;
       }
       .navlist a{
           display: block;
           padding: 0.5rem;
           margin: 1rem;
           border-left: 2px solid var(--main-color);
       }
       .navlist.open{
           top: 100%;
       }
   }
   @media (max-width: 1060px) {
    .dropdown-content {
        top: 0;
    }
}

@media (max-width: 1060px) {
    .shop-link i {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        font-size: 20px;
    }
}