<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esto Sen</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">





</head>
<style>
  .dropdown-menu {
    position: absolute;
    display: none;
    margin-top: -5px;
    left: auto;
    right: 0; /* Adjust this value based on your design */
    top: 100%;
}
        .dropdown-menu.show {
            display: block;
        }

            

            .dropdown-toggle {
                cursor: pointer;
            }
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #fff;
}

.dropdown-item:hover {
    background-color: #C6935E;
    color: #fff;
}

.cart-link {
    position: relative;
}

.cart-quantity-badge {
    position: absolute;
    top: -20px;
    right: 5px;
    background-color: #D91212;
    color: white;
    border-radius: 90%;
    padding: 5px;
    font-size: 9.8px;
}


a:hover {
    text-decoration: none; /* Remove the underline on hover */
}
.btn{
      border-radius: 0;
  }
  .swiper-pagination-bullet {
    width: 20px;
    height: 9px;
    background-color: #000B41; /* Change the color of the '-' */
    margin: 0 5px; /* Adjust the spacing between each '-' */
    cursor: pointer;
  }
  
  .swiper-pagination-bullet-active {
    background-color: rgb(252, 252, 255); /* Change the color of the active '-' */
  }
  .swiper-slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5); /* Adjust the brightness value as needed */
    transition: transform 0.3s ease-in-out;
}
.marquee {
  --space: 4rem;
  --duration: 35s;
  --gap: var(--space);

  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  transform: skewY(-3deg);
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: flex-end; /* Align items at the bottom */
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.marquee__item {
  text-align: center; /* Center text within each item */
}

.marquee__item img {
  max-width: clamp(10rem, 1rem + 28vmin, 20rem);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1rem;
}

.marquee__item h4 {
  margin-top: 0.5rem; /* Adjust as needed */
  color: #000B41;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}



</style>
<body>
  <header>
    <a href="#" class="logo"><img src="{% static 'images/logo.png' %}" alt="log_image"></a>
    <ul class="navlist">
        <li><a href="#home" >Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li class="dropdown">
            <a href="#shop" class="shop-link">Our Shop <i class='bx bx-chevron-down'></i></a>
            <div class="dropdown-content" style="width: 100%;">
                {% for c in categories %}
                    <a href="{% url 'categories' category_name=c.name %}">
                        {{ c.name }}
                    </a>
                {% endfor %}  
            </div>
        </li>
        <li><a href="{% url 'allproducts' %}">All Products</a></li>
        <li><a href="#contact">Contact Us</a></li>
    </ul>
    <div class="nav-icons">
        <a href="{% url 'cart' %}" class="cart-link">
            <i class='bx bx-cart'></i>
            <span class="cart-quantity-badge">{% if cart_quantity is not None %}{{ cart_quantity }}{% else %}0{% endif %}</span>

        </a>
        <a href="#" class="dropdown-togglese">
            <i class='bx bx-user'></i>
        </a>
        <div class="dropdown-menu" style="background-color: #000B41;">
            <a href="#" class="dropdown-item">Orders</a>
            <a href="#" class="dropdown-item">Wishlist</a>
            <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
        </div>
        <div class="bx bx-menu" id="menu-icon"></div>
    </div>
</header>



  <div class="swiper mySwiper" style="margin-top: 93px;">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide-content">
            <video width="100%" height="auto" autoplay muted loop playsinline>
                <source src="{% static 'videos/River_Flowing_Aerial_shot.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            <div class="centered-content">
              <h1>Your Heading 1</h1>
              <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates iusto eaque animi magnam similique repudiandae hic eos aut ullam illum, incidunt temporibus deleniti eum, velit tempora saepe repellendus doloribus est.</p>
              <a href="#" class="btn  mt-5" style="background-color: #000B41; color: #fff;">Your Button 4</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-content">
            <img src="{% static 'images/Blurred_Traffic_second_image.png' %}" />
            <div class="centered-content">
              <h1>Your Heading 2</h1>
              <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta exercitationem harum, corrupti quibusdam, dicta quod labore optio eum molestias quasi saepe! Beatae id officiis sequi iure dolor illum odit aperiam.</p>
              <a href="#" class="btn  mt-5" style="background-color: #000B41; color: #fff;">Your Button 4</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-content">
            <img src="{% static 'images/Blurred_people_third_cover.png' %}" />
            <div class="centered-content">
              <h1>Your Heading 3</h1>
              <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum sapiente dicta error earum labore, necessitatibus eligendi officiis optio vel! Praesentium commodi illo quasi culpa, doloremque quae illum incidunt recusandae perspiciatis.</p>
              <a href="#" class="btn  mt-5" style="background-color: #000B41; color: #fff;">Your Button 4</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-content">
            <img src="{% static 'images/Blurred_Traffic_second_image.png' %}" />
            <div class="centered-content">
              <h1>Your Heading 4</h1>
              <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, maxime facere? Neque praesentium qui exercitationem quaerat, explicabo quis, suscipit incidunt dolorem amet ipsam ipsum quae hic. Porro maiores ab ullam!</p>
              <a href="#" class="btn  mt-5" style="background-color: #000B41; color: #fff;">Your Button 4</a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div> -->
      <div class="swiper-pagination"></div>
    </div>

<div class="container-fluid bg-custom-color py-5 mt-3" >
  <div class="row "style="padding: 20px;">
      <div class="col-lg-6">
          <div class="p-4">
              <p class="font-size-18 text-dark">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <div class="button-container mt-4">
                  <a href="#" class="btn solid-button" style="background-color: #C6935E;color: #fff; ">Click Me</a>
              </div>
          </div>
      </div>

      <div class="col-lg-6">
          <img src="https://img.freepik.com/free-photo/interested-fashionable-woman-trendy-fluffy-outfit-looking-away-with-gently-smile_197531-7092.jpg" alt="Image Description" class="img-fluid">
      </div>
  </div>
</div>


<div class="container-fluid mt-4">
  <div class="row no-gutters">
      <!-- Card 1 -->
      <div class="col-lg-4 col-md-6 ">
          <div class="item">
              <img src="{% static 'images/demo_image.png' %}" alt="Placeholder Image">
          </div>
      </div>

      <!-- Card 2 -->
      <div class="col-lg-4 col-md-6 ">
          <div class="content-item" style="background-color: #000B41; padding: 20px; color: white; text-align: center;">
              <div class="content-wrapper" style="margin-top: 70px;">
                  <h1>Fashion Modeling Headings</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                  <a href="#" class="btn btn-light">Read More</a>
              </div>
          </div>
      </div>

      <!-- Card 3 -->
      <div class="col-lg-4 col-md-6 ">
          <div class="item">
              <img src="{% static 'images/demo2_image.png' %}" alt="Placeholder Image">
          </div>
      </div>

      <!-- Additional Cards... -->
      <div class="col-lg-4 col-md-6">
        <div class="content-item" style="background-color:#C6935E;padding: 20px; color: white; text-align: center;">
            <div class="content-wrapper" style="margin-top: 70px;">
                <h1>Fashion Modeling Headings</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                <a href="#" class="btn btn-light">Read More</a>
            </div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-6 ">
        <div class="item">
            <img src="{% static 'images/demo3_image.png' %}" alt="Placeholder Image">
        </div>
    </div>
    
    <div class="col-lg-4 col-md-6 ">
        <div class="content-item" style="background-color: #8B5632;padding: 20px; color: white; text-align: center;">
            <div class="content-wrapper" style="margin-top: 70px;">
                <h1>Fashion Modeling Headings</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                <a href="#" class="btn btn-light">Read More</a>
            </div>
        </div>
    </div>

  </div>
</div>


<div class="container-fluid">
    <div class="container-heading">
        <h1>Our Models</h1>
    </div>

    <div class="marquee" style="margin-top: 50px;">
        <div class="marquee__group">
            {% for data in model_data %}
                <div class="marquee__item " >
                    <a href="{% url 'another_database_model_details' data.id %}">
                    
                    {% if data.image %}
                        <img src="{{ data.image.image.url }}" alt="{{ data.username }}">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                    <h4 style="color: #000B41;">{{ data.username }}</h4>
                </a>
                </div>
            
            {% endfor %}
        
        </div>
    </div>
</div>

<!-- Main Section 1 -->
<div class="container-fluid" style="margin-top: 40px;">
  <div class="row ">
      <div class=" col-lg-12 main-section">
          <div class="left-section">
              <div class="heading">
                  <h1>Fashion Heading</h1>
              </div>
              <div class="paragraph">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit...</p>
              </div>
              <a href="#" class="btn" style="background-color: #000B41;color: #fff;">Your Button</a>
          </div>
          <div class="right-section">
              <img src="https://img.freepik.com/free-photo/interested-fashionable-woman-trendy-fluffy-outfit-looking-away-with-gently-smile_197531-7092.jpg" alt="Your_Image" class="image">
          </div>
      </div>
  </div>
</div>

<!-- Main Section 2 -->
<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12 main-sections">
          <div class="left-sections">
              <img src="https://img.freepik.com/free-photo/interested-fashionable-woman-trendy-fluffy-outfit-looking-away-with-gently-smile_197531-7092.jpg" alt="Your Image" class="image">
          </div>
          <div class="right-sections">
              <div class="heading">
                  <h1>Fashion Heading</h1>
              </div>
              <div class="paragraph">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit...</p>
              </div>
              <a href="#" class="btn" style="background-color: #000B41;color: #fff;">Your Button</a>
          </div>
      </div>
  </div>
</div>
<div class="container-fluid mt-4">
  <div class="row no-gutters">
    {% for category in categories %}
    <div class="col-lg-2 col-md-2 col-sm-2 col-12">
        <div class="image-container">
          <a href="{% url 'categories' category_name=category.name %}">
            <img src="{{ category.image.url }}" alt="{{ category.name }}">
            <div class="text-container">
              

                <h2 style="color: #fff;">{{ category.name }}</h2>
              </a>
            </div>
        </div>
    </div>
{% endfor %}

      
  </div>
</div>

<div class="container text-center mt-5">
    <div class="center-heading">
        <h1 style="color: #000B41;">Styling Inspiration</h1>
        <h2 style="color: #000B41;">Current Trends, Styling Tips and Much More</h2>
    </div>
</div>

<div class="container-fluid" style="margin-top: 60px; background-color: #d4d2f6;padding: 20px;">
  <div class="row">
      <div class="col-md-6 text-content-section">
          <h1>A World Class Hair Company</h1>
          <div class="underline-section"></div>
          <h2>Bespoke colour services, beautiful hairdressing</h2>
          <p>Chillwave narwhal dreamcatcher iPhone, mixtape sriracha polaroid farm-to-table forage. Tumeric taxidermy church-key migas viral. Four dollar toast before they sold out pinterest keytar, messenger bag cliche edison bulb DIY cray pork belly fashion axe hella 3 wolf moon prism. PBR&B plaid letterpress small batch enamel pin selfies butcher chicharrones YOLO.</p>
          <button onclick="findOutMore()">Find Out More</button>
      </div>
      <div class="col-md-6 image-container-section">
          <img src="{% static 'images/shooter_image.png' %}" alt="Image_Description">
      </div>
  </div>
</div>
    
<div class="container">
  <div class="container-heading">
    <h1>Our Products</h1>
</div>
<div class="row" id="productContainer">
  {% for product in products %}
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
          <div class="card">
              {% with specific_image=product.images.first %}
                  {% if specific_image %}
                      <img src="{{ specific_image.image.url }}" alt="Product Image" class="card-img-top">
                  {% endif %}
              {% endwith %}
              
              <div class="card-body">
                  <a href="{% url 'product_detail' product_id=product.id %}">
                      <h2 class="card-title" style="color: #000B41;">{{ product.name }}</h2>
                  </a>
                  <h6 class="card-subtitle mb-2 text-muted" style="font-size: 18px;">{{ product.category.name }}</h6>
                  <p class="card-text" style="color: #000B41; font-size: 18px;">
                      {{ product.description }}
                  </p>

                  <div class="buy d-flex justify-content-between align-items-center">
                      <div class="price text-success"><h5 class="mt-4">₹{{ product.price }}</h5></div>
                      {% if product.status != 'Out of stock' %}
                          <form method="POST" action="{% url 'add_to_cart' pk=product.id %}">
                              {% csrf_token %}
                              <button type="submit" class="btn" style="background-color: #000B41; color: #fff;">
                                  <i class='bx bx-cart'></i>Add to Cart
                              </button>
                          </form>
                      {% else %}
                          <span class="out-of-stock-text" style="color: rgb(245, 35, 35);">Out of Stock!</span>
                      {% endif %}
                  </div>
              </div>
          </div>

          <!-- Add the following code at the bottom of the card -->
          {% if forloop.last %}
          <div class="col-12 mt-4">
            <div class="view-all-card">
                <a style="color: #000B41;" href="{% url 'allproducts' %}">
                    View All <i class="bx bx-arrow-to-right"></i>
                </a>
            </div>
        </div>
          {% endif %}
      </div>
  {% endfor %}
</div>
</div>


<footer class=" text-white py-5 mt-4" style="background-color: #000B41;">
  <div class="container">
      <div class="row">
          <div class="col-md-3 footer-col">
              <h4 class="text-uppercase">company</h4>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Home</a></li>
                  <li><a href="#" class="text-white">About Us</a></li>
                  <li><a href="#" class="text-white">All Products</a></li>
                  <li><a href="#" class="text-white">Contact Us</a></li>
              </ul>
          </div>
          <div class="col-md-3 footer-col">
              <h4 class="text-uppercase">categories</h4>
              <ul class="list-unstyled">
                  {% for c in categories %}
                  <li><a href="{% url 'categories' category_name=c.name %}" class="text-white">{{ c.name }}</a></li>
                  {% endfor %}
              </ul>
          </div>
          <div class="col-md-3 footer-col">
              <h4 class="text-uppercase ">follow us</h4>
              <div class="d-flex social-links">
                  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                  <a href="#"><i class="fa-brands fa-youtube"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
              </div>
          </div>
          <div class="col-md-3 footer-col pt-3">
              <img src="{% static 'images/logo.png' %}" alt="Logo" class="img-fluid" style="height: 50px;">
          </div>
      </div>
      <!-- New paragraph added here -->
      <div class="row mt-4">
          <div class="col-md-6">
              <p>&copy; 2023 Estosen.in All rights reserved</p>
          </div>
          
      </div>
      
  </div>
  <div class="text-center" style="bottom: -40px;position: relative;">
      <p>Designed and Developed by <a href="" class="text-white">Softverses</a></p>
  </div>
</footer>

<a href="#" class="scroll"><i class='bx bx-up-arrow-alt'></i>
</a>


<!-- Add this modal to your HTML -->

<div class="modal fade" id="modelDetailsModal" tabindex="-1" role="dialog" aria-labelledby="modelDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelDetailsModalLabel">Model Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modelDetailsContent">
                       
            </div>
        </div>
    </div>
</div>


    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <!-- Example using a CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>



<script>
        


  $(document).ready(function() {
    $(".dropdown-togglese").click(function() {
        $(".dropdown-menu").toggleClass("show");
    });

    // Close dropdown menu if clicked outside
    $(document).click(function(e) {
        if (!$(e.target).closest('.dropdown-menu').length &&
            !$(e.target).closest('.dropdown-togglese').length) {
            $(".dropdown-menu").removeClass("show");
        }
    });

    // Close dropdown menu if clicking on the cart link
    $(".cart-link").click(function(e) {
        e.stopPropagation(); // Prevent the click event from propagating to the document
        $(".dropdown-menu").removeClass("show");
    });
});


var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      effect: "fade",
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      autoplay: {
        delay: 4000, // Adjust the delay in milliseconds between slides
        disableOnInteraction: false, // Continue autoplay even when the user interacts with the slider
    },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
    



    $(document).ready(function () {
    $('.model-details-trigger').on('click', function () {
        var modelId = $(this).data('model-id');

        // Make an AJAX request to fetch detailed model information
        $.ajax({
            url: '/get_model_details/' + modelId + '/',  // Update with your actual URL
            type: 'GET',
            success: function (data) {
                // Update a specific element on your page with the fetched data
                $('#modelDetailsContent').html(data);

                // Show the modal if not already shown
                $('#modelDetailsModal').modal('show');
            },
            error: function (error) {
                console.error('Error fetching model details:', error);
            }
        });
    });
});

</script>
    
</body>
</html>