<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Document</title>
</head>
<style>
    body{
    font-family: 'Sulphur Point', sans-serif;
}
.btn{
    border-radius: 0;
}
</style>
<body>
    <nav class="navbar navbar-expand-lg" id="nav1" style="background-color: #000B41; ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo.png' %}" width="120px"
              height="50px" class="d-inline-block align-top" alt="">
          </a>
          <ul class="nav nav-pills">
            <li class="nav-item" >
              <a class="nav-link mx-sm-3" href="" style="color: #ffff;">Products</a>
            </li>
    
            <!-- <li class="nav-item">
              <form class="form-inline" action="" method="get">
                  <div class="input-group">
                      <input class="form-control" type="search" name="search" placeholder="Search" aria-label="Search" id="search">
                      <button class="btn btn-outline-dark" type="submit">Search</button>
                  </div>
              </form>
          </li> -->
            <li class="nav-item" >
              <a class="nav-link" href="#" data-bs-toggle="popover" data-bs-placement="bottom" style="color: #ffff;"
                title="<h6 class='popover-title'>Becoming a member</h6>"
                data-bs-content="<div class='text-center'><a class='btn btn-warning login-link' href=''>Login</a><br><br><a class='btn btn-warning signup-link' href=''>Sign up</a></div>"
                data-bs-html="true">
                Account
              </a>
            </li>
            <li class="nav-item"  >
              <a class="nav-link" href="" style="color: #ffff;">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" style="color: #ffff;">Contact</a>
            </li>
            <li class="nav-item" >
              <div class="flex-container">
                <div><a href="" class="nav-link" style="text-decoration: none;color: white;font-size: 16px;">Orders</a></div>
            </div>
          <!-- </li>
            <li class="nav-item">
              <div class="flex">
                <a href="" style="color: black;">
                  <div class="div1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-basket-fill" viewBox="0 0 16 16">
                      <path
                        d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z" />
                    </svg>
                  </div>
                </a>
              </div>
            </li> -->
          </ul>
        </div>
      </nav>
    
      <div class="container-fluid " style="margin-top: 40px; padding-bottom: 40%; width: 100%;">
        <h2 class="text-center mt-5">Models Registered</h2>
        <table class="table mt-5">
            <thead class="thead">
                <tr>
                    <th>MODEL ID</th>
                    <th>MODEL NAME</th>
                    <th>USER NAME</th>
                    <th>EMAIL</th>
                    <th>PHONE NUMBER</th>
                    <th>AGE</th>
                    <th>GENDER</th>
                    <th>IMAGES</th>
                    <th>HEIGHT</th>
                    <th>WEIGHT</th>
                    <th>CHEST ROUND</th>
                    <th>SHOULDER TO SHOULDER</th>
                    <th>HIP ROUND</th>
                    <th>ARM HOLE</th>
                    <th>WAIST ROUND</th>
                    <th>ACTION</th>
                    <th>OTHER DATA</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody class="tbody">
                {% for p in model_data %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.user.first_name|default:'' }} {{ p.user.last_name|default:'' }}</td>

                    <td>{{ p.user.username }}</td>
                    <td>{{ p.user.email }}</td>
                    <td>{{ p.phone_number }}</td>
                    <td>{{ p.age }}</td>
                    <td>{{ p.gender }}</td>
                    <td>
                        {% for image in p.images.all %}
                        <a href="#" class="image-link" data-toggle="modal" data-target="#imageModal" data-image="{{ image.image.url }}" data-image-id="{{ image.id }}" data-username="{{ p.user.username }}" data-email="{{  p.user.email }}" data-phone_number="{{ p.phone_number }}" data-age="{{  p.age }}" data-gender="{{  p.gender }}" data-height="{{  p.height }}"data-weight="{{  p.weight }}" data-chestround="{{ p.Chestround }}" data-shouldertoshoulder="{{  p.Shouldertoshoulder }}" data-hipround="{{  p.Hipround }}"data-armhole="{{  p.Armhole }}" data-waistround="{{  p.Waistround }}">
                                <img src="{{ image.image.url }}" alt="{{ p.name }} Image" style="width: 90px; height: 90px; margin-top: 10px;">
                            </a>
                        {% endfor %}
                    </td>
        <td>{{ p.height }}</td>
        <td>{{ p.weight }}</td>
        <td>{{ p.Chestround }}</td>
        <td>{{ p.Shouldertoshoulder }}</td>
        <td>{{ p.Hipround }}</td>
        <td>{{ p.Armhole }}</td>
        <td>{{ p.Waistround }}</td>
        <td>
            {% if p.is_approved %}
            <a href="{% url 'disapprove_model' p.id %}" class="btn btn-dark btn-sm">Disapprove</a>
          
          {% else %}
          <a href="{% url 'approve_model' p.id %}" class="btn btn-outline-dark btn-sm">Approve</a>  
            {% endif %}
        </td>
        <td>
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                        data-target="#measurementsModal{{ p.id }}">Measurements</button>
        </td>
        <div class="modal fade" id="measurementsModal{{ p.id }}" tabindex="-1" role="dialog"
        aria-labelledby="measurementsModalLabel{{ p.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="measurementsModalLabel{{ p.id }}">Measurements for
                        {{ p.user.first_name }} {{ p.user.last_name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Display measurements based on gender -->
                    {% if p.gender == 'Men' %}
                    <h3>Neck: {{ p.men_measurements.neck }}</h3>
                    <h3>Full Sleeves Length: {{ p.men_measurements.Full_sleeves_length }}</h3>
                    <h3>Half sleeves length:{{ p.men_measurements.Half_sleeves_length }}</h3>
                    <h3>Biceps:{{ p.men_measurements.Biceps }}</h3>
                    <h3>Lower waist:{{ p.men_measurements.Lower_waist }}</h3>
                    <h3>Trouser length:{{ p.men_measurements.Trouser_length }}</h3>
                    <h3>Trouser Bottom:{{ p.men_measurements.Trouser_Bottom }}</h3>
                    <h3>Denim length:{{ p.men_measurements.Denim_length }}</h3>
                    <h3>Thigh:{{ p.men_measurements.Thigh }}</h3>
                    <h3>Shirt size:{{ p.men_measurements.Shirt_size }}</h3>
                    <h3>T Shirt:{{ p.men_measurements.T_Shirt }}</h3>
                    <h3>Shoe size:{{ p.men_measurements.Shoe_size }}</h3>
                    <h3>Crotch Length:{{ p.men_measurements.Crotch_Length }}</h3>
                    <!-- Add more measurements for men as needed -->
                    {% endif %}
                    {% if p.gender == 'Female' or p.gender == 'Trans' %}
                    <h3>Shoulder to Waistline: {{ p.female_measurements.Shoulder_to_waistline }}</h3>
                    <h3>Shoulder to Floor: {{ p.female_measurements.Shoulder_to_floor }}</h3>
                    <h3>Neck round: {{ p.female_measurements.Neck_round }}</h3>
                    <h3>Upper Bust: {{ p.female_measurements.Upper_Bust }}</h3>
                    <h3>Full Bust: {{ p.female_measurements.Full_Bust }}</h3>
                    <h3>Below Bust: {{ p.female_measurements.Below_Bust }}</h3>
                    <h3>Lower waist round: {{ p.female_measurements.Lower_waist_round }}</h3>
                    <h3>Full length sleeves: {{ p.female_measurements.Full_length_sleeves }}</h3>
                    <h3>Half sleeve: {{ p.female_measurements.Half_sleeve }}</h3>
                    <h3>3/4 sleeve: {{ p.female_measurements.3_4_sleeve }}</h3>
                    <h3>Sleeves round: {{ p.female_measurements.Sleeves_round }}</h3>
                    <h3>Biceps: {{ p.female_measurements.Biceps }}</h3>
                    <h3>Shoulder to knee: {{ p.female_measurements.Shoulder_to_knee }}</h3>
                    <h3>Knee round: {{ p.female_measurements.Knee_round }}</h3>
                    <h3>Thigh round: {{ p.female_measurements.Thigh_round }}</h3>
                    <h3>Ankle round: {{ p.female_measurements.Ankle_round }}</h3>
                    <h3>crotch point: {{ p.female_measurements.crotch_point }}</h3>
                    <h3>Shoe size: {{ p.female_measurements.Shoe_size }}</h3>
                    <!-- Add more measurements for female as needed -->
                    {% endif %}
                    <!-- Add more conditions for other genders as needed -->
                    {% if p.gender == 'Kid Boy'  %}
                    <h3>Shoulder to waistline: {{ p.kid_boy_measurements.Shoulder_to_waistline }}</h3>
                    <h3>Shoulder to floor: {{ p.kid_boy_measurements.Shoulder_to_floor }}</h3>
                    <h3>Shoulder to hip: {{ p.kid_boy_measurements.Shoulder_to_hip }}</h3>
                    <h3>Neck round: {{ p.kid_boy_measurements.Neck_round }}</h3>
                    <h3>Upper Bust: {{ p.kid_boy_measurements.Upper_Bust }}</h3>
                    <h3>shorts: {{ p.kid_boy_measurements.shorts }}</h3>
                    <h3>Lower waist round: {{ p.kid_boy_measurements.Lower_waist_round }}</h3>
                    <h3>Full length sleeves: {{ p.kid_boy_measurements.Full_length_sleeves }}</h3>
                    <h3>Half  sleeve: {{ p.kid_boy_measurements.Half_sleeve }}</h3>
                    <h3>3/4 sleeve: {{ p.kid_boy_measurements.3_4_sleeve }}</h3>
                    <h3>Elbow round: {{ p.kid_boy_measurements.Elbow_round }}</h3>
                    <h3>Elbow length: {{ p.kid_boy_measurements.Elbow_length }}</h3>
                    <h3>Biceps: {{ p.kid_boy_measurements.Biceps }}</h3>
                    <h3>Shoulder to knee: {{ p.kid_boy_measurements.Shoulder_to_knee }}</h3>
                    <h3>Knee round: {{ p.kid_boy_measurements.Knee_round }}</h3>
                    <h3>Thigh round: {{ p.kid_boy_measurements.Thigh_round }}</h3>
                    <h3>Ankle round: {{ p.kid_boy_measurements.Ankle_round }}</h3>
                    <h3>crotch point: {{ p.kid_boy_measurements.crotch_point }}</h3>
                    <h3>Shoe size: {{ p.kid_boy_measurements.Shoe_size }}</h3>
                    <h3>Lower waist to: {{ p.kid_boy_measurements.Lower_waist_to }}</h3>
                    <h3>trouser length: {{ p.kid_boy_measurements.trouser_length }}</h3>
                    
                    {% endif %}
                    {% if p.gender == 'Kid Girl'  %}
                    <h3>Shoulder to waistline: {{ p.kid_girl_measurements.Shoulder_to_waistline }}</h3>
                    <h3>Shoulder to waistline: {{ p.kid_girl_measurements.Shoulder_to_waistline }}</h3>
                    <h3>Shoulder to floor: {{ p.kid_girl_measurements.Shoulder_to_floor }}</h3>
                    <h3>Neck round: {{ p.kid_girl_measurements.Neck_round }}</h3>
                    <h3>Upper Bust: {{ p.kid_girl_measurements.Upper_Bust }}</h3>
                    <h3>Full Bust: {{ p.kid_girl_measurements.Full_Bust }}</h3>
                    <h3>Below Bust: {{ p.kid_girl_measurements.Below_Bust }}</h3>
                    <h3>Lower waist round: {{ p.kid_girl_measurements.Lower_waist_round }}</h3>
                    <h3>Full length sleeves: {{ p.kid_girl_measurements.Full_length_sleeves }}</h3>
                    <h3>Half sleeve: {{ p.kid_girl_measurements.Half_sleeve }}</h3>
                    <h3>3/4 sleeve: {{ p.kid_girl_measurements.3_4_sleeve }}</h3>
                    <h3>Sleeves round: {{ p.kid_girl_measurements.Sleeves_round }}</h3>
                    <h3>Biceps: {{ p.kid_girl_measurements.Biceps }}</h3>
                    <h3>Shoulder to knee: {{ p.kid_girl_measurements.Shoulder_to_knee }}</h3>
                    <h3>Knee round: {{ p.kid_girl_measurements.Knee_round }}</h3>
                    <h3>Thigh round: {{ p.kid_girl_measurements.Thigh_round }}</h3>
                    <h3>Ankle round: {{ p.kid_girl_measurements.Ankle_round }}</h3>
                    <h3>Ankle round: {{ p.kid_girl_measurements.Ankle_round }}</h3>
                    <h3>crotch point: {{ p.kid_girl_measurements.crotch_point }}</h3>
                    <h3>Shoe size: {{ p.kid_girl_measurements.Shoe_size }}</h3>
                    <h3>Waist to Knee: {{ p.kid_girl_measurements.Waist_to_Knee }}</h3>



                    
                    
                    
                    
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <td><a href="{% url 'delete_model' p.id %}" class="btn btn-danger">Delete</a></td>
        </tr>
            </tbody>
            {% endfor %}

        </table>
    </div>
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content" >
          <div class="modal-header ">
              <h3 class="modal-title" id="imageModalLabel">Image Uploaded</h3>
              <button type="button" class="close btn btn-sm btn-danger " data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <img id="modalImage" class="img-fluid" src="" alt="Model Image">
            <div class=" p-3 m-3">
              <form id="imageForm" method="post" action="{% url 'save_image_to_another_database' %}" enctype="multipart/form-data">
                 {% csrf_token %}
                <div class="row mt-5">
                  <div class="col-sm-8">
                      <div class="row">
                          
                          <div class="col-sm-8">
                       <input type="hidden" id="modalUsername" name="username" value="">
                      <input type="hidden" id="modalEmail" name="email" value="">
                      <input type="hidden" id="modalPhonenumber" name="phone_no" value="">
                      <input type="hidden" id="modalAge" name="age" value="">
                      <input type="hidden" id="modalGender" name="gender" value="">
                      <input type="hidden" id="modalHeight" name="height" value="">
                      <input type="hidden" id="modalWeight" name="weight" value="">
                      <input type="hidden" id="modalChestround" name="chestround" value="">
                      <input type="hidden" id="modalShouldertoshoulder" name="shouldertoshoulder" value="">
                      <input type="hidden" id="modalHipround" name="hipround" value="">
                      <input type="hidden" id="modalArmhole" name="armhole" value="">
                      <input type="hidden" id="modalWaistround" name="waistround" value="">
                      <input type="hidden" id="modalImageId" name="image_id" value="">
                          </div>
                      </div>
          
                  </div>
              </div>
              <div class="row mt-5">
                <div class="col-sm-12" style="text-align: center;">
                  <button type="button" id="saveButton" data-dismiss="modal" aria-label="Close" style="width: 200px; height: 50px;"  class="btn btn-success" value="Add">Add</button>               
 </div>
            </div>
              </form>
            </div>
          </div>
        </div>
      </div>  
    </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    


    <script>
        $(document).ready(function() {
          console.log('Chestround:', $(this).data('Chestround'));
        $('.image-link').click(function() {
            var imageUrl = $(this).data('image');
            $('#modalImage').attr('src', imageUrl);
        });
    });

    $(document).ready(function () {
    $('.image-link').on('click', function () {
        var imageUrl = $(this).data('image');
        var imageId = $(this).data('image-id');
        var username = $(this).data('username');
        var email = $(this).data('email');
        var phoneno = $(this).data('phone_number');
        var age = $(this).data('age');
        var gender = $(this).data('gender');
        var height = $(this).data('height');
        var weight = $(this).data('weight');
        var Chestround = $(this).data('chestround');
        var Shouldertoshoulder = $(this).data('shouldertoshoulder');
        var Hipround = $(this).data('hipround');
        var Armhole = $(this).data('armhole');
        var Waistround = $(this).data('waistround');

        // Update the modal content
        $('#modalImage').attr('src', imageUrl);
        $('#modalUsername').val(username);
        $('#modalImageId').val(imageId);
        $('#modalEmail').val(email);
        $('#modalPhonenumber').val(phoneno);
        $('#modalAge').val(age);
        $('#modalGender').val(gender);
        $('#modalHeight').val(height);
        $('#modalWeight').val(weight);
        $('#modalChestround').val(Chestround);
        $('#modalShouldertoshoulder').val(Shouldertoshoulder);
        $('#modalHipround').val(Hipround);
        $('#modalArmhole').val(Armhole);
        $('#modalWaistround').val(Waistround);

        // Show the modal
        $('#imageModal').modal('show');
    });

    // Handle form submission when "Save to Another Database" button is clicked
    $('#saveButton').on('click', function () {
        // Submit the form
        $('#imageForm').submit();
    });

    // Optionally, you can use the following code to close the modal when the close button is clicked
    $('#imageModal').on('hidden.bs.modal', function () {
        // Reset the form fields
        $(this).find('form')[0].reset();
    });
});




// $(document).ready(function () {
//         // Attach click event to the Save button
//         $('#saveButton').on('click', function () {
//             // Submit the form when the Save button is clicked
//             $('#imageForm').submit();
//         });

//         // Attach event when the modal is about to be hidden
//         $('#imageModal').on('hide.bs.modal', function (e) {
//             // If the form should not be submitted, prevent the modal from closing
//             if (!$('#saveButton').data('clicked')) {
//                 e.preventDefault();
//                 // Reset the form when the modal is closed without saving
//                 $('#imageForm')[0].reset();
//             }
//         });
//     });
    </script>
</body>
</html>